# Firebase
VITE_FIREBASE_API_KEY=AIzaSyBksdpG0giAhiz0rLy66xVwQPUSIaxGoCg
VITE_FIREBASE_AUTH_DOMAIN=mafia-fd9ed.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mafia-fd9ed
VITE_FIREBASE_STORAGE_BUCKET=mafia-fd9ed.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=988285381642
VITE_FIREBASE_APP_ID=1:988285381642:web:de09011fc044ba53bc83f3

# Backend URL (для продакшена на Vercel)
# VITE_BACKEND_URL=https://your-backend.onrender.com
