# Firebase backend config
FIREBASE_API_KEY=AIzaSyBksdpG0giAhiz0rLy66xVwQPUSIaxGoCg
FIREBASE_AUTH_DOMAIN=mafia-fd9ed.firebaseapp.com
FIREBASE_PROJECT_ID=mafia-fd9ed
FIREBASE_STORAGE_BUCKET=mafia-fd9ed.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=988285381642
FIREBASE_APP_ID=1:988285381642:web:de09011fc044ba53bc83f3
